@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  p {
    @apply text-lg leading-relaxed mb-4;
  }

  p:last-of-type {
    @apply mb-0;
  }

  h2 {
    @apply text-2xl font-semibold mb-4;
  }

  h2:first-of-type {
    @apply bg-white p-4;
  }

  .customRootLayout {
    @apply flex flex-col h-screen;
  }

  .customPageLayout {
    @apply bg-yellow-200 flex flex-col h-[calc(100vh-138px)] p-4;
  }

  .customDashboardPageLayout {
    @apply bg-yellow-200 flex flex-col h-[calc(100vh-138px)] p-4;
  }

  .customPage {
    @apply bg-yellow-100 flex-grow h-[calc(100vh-138px)] overflow-y-auto p-4;
  }

  .customPageWithCenteredContent {
    @apply bg-yellow-100 flex items-center justify-center h-[calc(100vh-138px)];
  }
}
